%ul.list-group
  = render @presentation.ranks

- if @own_choice.present? && @own_choice.lacks_votes?
  .p= I18n.t 'vote.you_have_not_ranked'
  %ul.list-group
    = render partial: 'ranked_vote/possibles/unvoted',
      collection: @own_choice.unvoted
